*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: url("../img/back_software.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    width: 100%;
    padding-top: 0px;  
    min-height: 100vh;
    perspective: 1000px;
    font-family: "Roboto", sans-serif;
} 

/* header{
position: fixed;
width: 100%;

} */





/* menu translate */

/* menu de navegación */

#header{
    position: fixed;
    width: 100%;
    z-index: 99999;
}

#button-menu{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    right: 50px;
    /* display: none; */

}

.contenedor-menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #030a15;
    padding: 30px 0;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    font-family: 'Roboto', sans-serif;
}

.contenedor-menu.sticky {
    padding: 15px 0;
    background: rgb(6, 1, 49);
    position: sticky;
    z-index: 999;

}


.contenedor-menu .logo-box{
    margin-left: 30px;
}


.contenedor-menu .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.contenedor-menu .logo a span{
    color: #2271b3;
}   


.contenedor-menu .logo-box h1 a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contenedor-menu .list-container{
    margin-right: 0px;
    /* overflow: auto; */
}

.contenedor-menu .list-container .menu{
    display: flex;
    /* overflow: auto; */

}

.contenedor-menu .list-container .menu li{
    list-style: none;
    display: inline-block;
}

.contenedor-menu .list-container .menu li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: #fff;
    border-radius: 24px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;



}

/* .contenedor-menu .list-container .menu li a.activo{
    background: #2271b3;
    color: #fff;
    border-radius: 30px;
    font-size: 40px;
    transition: 0.3s;
} */


.contenedor-menu .list-container .menu li a:hover{
    background:  #2271b3;
    color: #fff;
}


.contenedor-menu .list-container .menu .icono{
    font-size: 10px;
    line-height: 18px;
}

.contenedor-menu .list-container .menu .icono-izquierda {
    float: left;
    margin-right: 10px;
}

.contenedor-menu .list-container .menu .icono-derecha {
    float: right;
    margin-left: 10px;
    font-size: 15px;
} 

#button-menu > .fa-bars{
    display: none;
}








/* termina menu translate */








html{   
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* navbar */

/* .navbar{
    position: fixed;
    background: #06111e;
    background: #030a15;
    width: 100%;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    top: 0;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(6, 1, 49);
    position: sticky;
    z-index: 999;

}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: #2271b3;
}   
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
}

.navbar .menu li a:hover{
    /* color: crimson; 
    color: #2271b3;
}

.navbar.sticky .menu li a:hover{
    color: #2271b3;
} */

/* Boton del menú bars */

.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 48px;
    width: 42px;
    background: #2271b3;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;

}

.scroll-up-btn:hover{
    color: #fff;
    background: none;
    border: 2px solid #2271b3;
}



.encabezado{
    /* margin: 200px; */
    padding-left: 700px;
    top: 150px;
    position: relative;
}








/* main{ */
    /* background: chartreuse; */
/* } */

/* Similar */


/* section{
    padding: 100px 0;
} */


section{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    /* background: cornflowerblue; */
}


.card {
    transform-style: preserve-3d;
    min-height: 40vh;
    padding: 10px 10px;
    width: 80%;
    border-radius: 30px;
    /* padding: 0rem 4rem; */
    background: rgba(0,0,0,.5);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sneaker img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(
        to right,
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        
}

.info h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    align-items: center;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 20px;
    padding: 1rem 0rem;
    color:#fff;
    font-weight:bolder;
    transition: all 0.75s ease-out;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
    z-index: 999;
    width: 100%;
    /* background: #07860d; */
    align-items: center;
    justify-content: center;

}

.icons button {
    display:inline-flex;
    flex-flow: column;
    padding: 1rem 2rem;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;

}


/* .home .home-content a:hover{
    color: #fff;
    background: none;
} */


/* Iconos */

.wrappper{
    display: inline-flex;
}

.wrappper .icon{
    margin:  0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55) ;
}

.wrappper .icon span{
    position:relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.wrappper .icon span i{
    font-size: 25px;
    line-height: 60px;
}

.wrappper .icon:hover span i{
    color: #fff;
}

.wrappper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55) ;
}

.wrappper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrappper .icon .tooltip:before{
    position: absolute;
    content: " ";
    height: 15px;
    width: 15px;
    /* background: #fff; */
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrappper .icon:hover span,
.wrappper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4) ;
}

.wrappper .mobile span{
    background: #132241;
    color: #fff;
}

.wrappper .mobile:hover span,
.wrappper .mobile:hover .tooltip,
.wrappper .mobile:hover .tooltip:before
{
    background: #132241;
}

.wrappper .telcasa span{
    background: #111;
    color: #fff;
}

.wrappper .telcasa:hover span,
.wrappper .telcasa:hover .tooltip,
.wrappper .telcasa:hover .tooltip:before
{
    background: #111;
}

.wrappper .linkedin span{
    background: #385999;
    color: #fff;
}

.wrappper .linkedin span a{
    background: #385999;
    color: #fff;
}

.wrappper .linkedin:hover span,
.wrappper .linkedin:hover .tooltip,
.wrappper .linkedin:hover .tooltip:before
{
    background: #385999;
}

.wrappper .mail span{
    background: #380786;
    color: #fff;
}

.wrappper .mail:hover span,
.wrappper .mail:hover .tooltip,
.wrappper .mail:hover .tooltip:before
{
    background: #380786;
}


.purchase{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 70vh;
}

.purchase a {
    margin-top: 4rem;
    display: inline-block;
    background: #2271b3;
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.purchase a:hover {
    color: #fff;
    background: none;
    border: 2px solid #2271b3;
}



.purchase button:hover {

    color: white;
    border: none;
    background: #2362e0 ;
}




/* Sección portada */


.portada{
    /* display:flex; */
    background: url("../img/back_software.jpg") no-repeat;
    height: 150vh;
    color: #fff;
    min-height: 600px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 200px;
}



/* Sección acerca de mi */


.about{
    display:flex;
    /* background: darkblue; */
    background: url("../img/Acerca_de_mi.jpg") no-repeat;
    height: 150vh;
    color: #fff;
    min-height: 800px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 400px;
    width: auto;
}

.about .max-width{
    /* margin: auto 0 auto 200px; */
    padding: 30px;
    background: rgba(0,0,0,.3);
    justify-content: center;
    border-radius: 10px;
}

.about, .services, .skills, .education{
    font-family: 'Roboto', sans-serif;
} 

   
.about, .about-content, 
.services, .services-content,
.skills, .skills-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}


.about .about-content .right{
    width: 90%;
}

.about .about-content .right .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .about-content .right .text span{
    color: crimson;
    font-size: 30px;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    background: #2271b3;
    color: #fff;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid #2271b3;
    transition: all 0.3s ease;
    align-items: center;
}

.about .about-content .right a:hover{
    color: #fff;
    background: none;
    border: 2px solid #2271b3;
}

/* Sección 4 */

.emprendedor{
    display:flex;
    background: url("../img/Emprendedor_entusiasta.jpg") no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 30px;
}

/* Sección Estrategias */

.estrategias{
    display:flex;
    background: url("../img/Estrategias.jpg") no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 30px;
}


/* Sección Analista */

.analista{
    display:flex;
    background: url("../img/Analisis_de_Software.jpg") no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 30px;
}

/* Sección Experiencia Laboral */


.ExpLab{
    display:flex;
    background: url("../img/Exp_laboral.jpg") ;
    height: 100vh;
    color: #fff;
    min-height: 1600px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 30px;
    top: 30px;
}


/* Sección Skills */


.skills{
    display:flex;

    background: url("../img/skills.jpg") ;
    height: 100vh;
    color: #fff;
    min-height: 1600px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 30px;
    /* top: 30px; */
    align-items: center;
}


.tm{
    display:flex;
    background: url("../img/Exp_laboral.jpg");
    /* height: 1000vh; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* margin: auto; */
    /* color: crimson; */
    color: #fff;
    min-height: 1400px;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    top: 600px;
    align-items: center;
    /* justify-content: center; */


}

.tm .max-width{
    margin: auto 0 auto 200px;
}



/* Linea de tiempo */

.timeline{
    /* max-width: 1080px; */
    /* margin: 50px auto;
    padding: 0 20px; */
    position: relative;
}


.timeline .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.timeline .row{
    display: flex   ;
    justify-content: flex-start;
}

.timeline .row-1 {
    justify-content: flex-start;
}

.timeline .row-2 {
    justify-content: flex-end;
}


.timeline .row section{
    background: #fff;
    border-radius:5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.timeline .row section::before{
    position: absolute;
    content: "hola";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 50px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before{
    right: -7px;
}

.row-2 section::before{
    left: -7px;
}






.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: #030a15;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0 0.8), 0 3px 0 4px rgba(0,0,0 0.5)
}

.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon{
    top: 13px;
    right: -60px;
}

.row-2 section .icon{
    top: 13px;
    left: -60px;
}

.row section .details,
.row section .buttom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


/* Scroll de la tarjeta de la linea de tiempo  */

.row section .scroll{
    width: 100%;
    height: 200px;
    overflow: auto;
}

.row section .scroll::-webkit-scrollbar{
    width: 7PX;
}

.row section .scroll::-webkit-scrollbar-thumb {
    background: midnightblue;
    border-radius: 5px;
    }


.row section .puesto{
    text-align: left;
    /* font-size: 17px; */
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #030a15;
}

.row section .periodo{
    padding: 10px;
    text-align: center;
    background: #030a15;
    border-radius: 5px;
    font-size: 15px;
    /* font-weight: 100; */
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.row section .periodo span{
    text-align: right;
    font-size: 17px;
    color: #2271b3;
}

.row section .periodo h3{
    text-align: left;
    font-size: 15px;
}

.row section p{
    background: rgb(230, 231, 230);
    padding: 10px;
    margin: 10px 0 17px 0;
    font-family: 'Roboto', sans-serif;
    color: #030a15;
}

.row section .buttom a{
    text-decoration: none;
    background: rgb(240, 8, 8);
    color:#fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
}

.row section .buttom a:hover{

    background: none;
    color:rgb(240, 8, 8);
    border-style: inset;

}


/* education */

.education{
    /* display:flex; */
    background: url("../img/back_educacion.jpg") no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 600px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 200px;
}


/* .education .title::after{
    content: "carlos valencia";
    color: #fff;
} */

.education .carousel{
    width: 70vw;
}

.education .carousel .card2{
    background: rgba(0,0,0,.5);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
    border: 2px solid #fff
}

.education .carousel .card2:hover {
    background: #fff;

    color: #030a15;

    /* background: #2271b3; */
    

}


.education .carousel .card2 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.education .carousel .card2:hover .box {
    transform: scale(1.05);
}


.education .carousel .card2 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.education .carousel .card2 img{
    height: 250px;
    width: 250px;
    object-fit:none;
    border-radius: 50%;
    border: 5px solid #fff;
}

.education .carousel .card2:hover img {

    border: 5px solid #2271b3;

    }


.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 20px;
    width: 20px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50px;
    border: 2px solid #fff!important;

}

.owl-dot:active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot:active,
.owl-dot:hover{
    background: #2271b3
}


/* Responsive */
/* @media only screen and (max-width:1104px){

}


@media only screen and (max-width:1024px){

    .home .max-width{
        margin-left: 0px;
    }


 } */




/* @media only screen and (max-width:991px){
    /* .home .max-width{
        padding: 0 50px;
    } 

} */



    @media only screen and (max-width:800px){




        .contenedor-menu .list-container{
    
            /* display: none; */
            position: absolute;
            top:60px;
            left:0;
            /* width: 550px; */
            /* min-width: 300px;  */
            margin: 0px;
            display: inline-block;
            font-family: 'Rancho', cursive;
            line-height: 18px;
        }
    
        .contenedor-menu .list-container .menu {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column; 
            border-top: 5px solid #481380;
            overflow: auto;
    
        }
    
    
        #button-menu > .fa-bars {
            padding: 20px;
            /* background:#481380; */
            color:#481380;
            display: block;
            position: absolute;
            top:50px;
            right: 30px;
            font-size: 30px;
        }
    
        #button-menu > .fa-close {
            padding: 20px;
            /* background:#481380; */
            color:#481380;
            display: block;
            position: absolute;
            top:10px;
            right: 30px;
            font-size: 30px;
        }

        .home .home-content .text-2{
            font-size: 70px;
        }

        .home .home-content .text-3{
            font-size: 35px;
        }


        .timeline .center-line{
            left: 50px;
            background: #fff;
        }

        .timeline{
            left: -180px;
            /* width: 500px; */
            /* background: darkmagenta; */
        }

        .timeline .row section{
            background: #fff;   
            /* background: rgba(1,1,1,.5); */
            border-radius:5px;
            width: 330px;
            /* width: calc(50% - 40px); */
            left: 30px;
            padding: 20px;
            position: relative;
        }


        .timeline .row{
            margin: 30px 0 3px 60px;
        }
        
        /* .timeline .row section{
            width: 100%;
        } */

        .row-1 section::before{
            left: -60px;
            background: rgb(212, 24, 24);
        }

        .row-1 section .icon{
            left: -60px;
        }

        .row-2 section .icon{
            left: -280px;
        }

}

    /* @media only screen and (max-width:690px){
            .max-width{
                padding: 0 23px;
            }

            .home .home-content .text-2{
                font-size: 60px;
            }
            .home .home-content .text-3{
                font-size: 32px;
            }

            .home .home-content a{
                font-size: 20px;
            }
    
    } */

/* @media only screen and (max-width:360px){

  


    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top:0;
        background: rgba(34,34,34,0.8);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        z-index: 999;
    }



    .max-width{
        padding: 0 23px;
    }

    .timeline .center-line{
        left: 10px;
    }

    .timeline .row{
        margin: 30px 0 3px 60px;
    }
    
    .timeline .row section{
        width: 100%;
    }

    .row-1 section::before{
        left: -7px;
    }

    .row-1 section .icon{
        left: -80px;
    }

} */





